.body-base {
    position: relative;
    height: auto;
    width: 100%;
    background: #FFF;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    place-items: center; 
    flex-grow: 1;
}   
